<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <!-- Parameters used by tests at runtime -->
  <TestRunParameters>
	  <!-- Database connected to this URL is KC-EMEA-SQDB-XTELAUTOM82-DEV-02-->
    <Parameter name="URL" value="https://to-pdi.salesperformanceplatform.com/xtelsp-autom/web/?DBG=1" />
    <!--<Parameter name="URL" value="https://localhost/SP/SM1/SM1V6/SM1.aspx?DBG=1" />-->
	  <Parameter name="Browser" value="Chrome" />
    <<Parameter name="Regression" value="true" />
  </TestRunParameters>
	<NUnit>
		<NumberOfTestWorkers>1</NumberOfTestWorkers>
		<DefaultTestNamePattern>{m}()</DefaultTestNamePattern>
	</NUnit>
</RunSettings>